@charset "utf-8";

/* A. 상단영역  */
#headerWrap {
    width: 100vw;
    height: 110px;
    top: 0;
    position: fixed;
    background-color: #41414c;
    z-index: 99999;
}

.headerBar {
    padding: 0 70px;
    height: 100%;
}

.topHeader {
    width: 100%;
    padding: 25px 0;
    position: relative;
    height: calc(100% - 50px);
}

/* 로고 */
.topLogo {
    text-align: center;
}

.topLogo img {
    width: 150px;
}

/* 우측 GNB메뉴 */
.gnb {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.gnb li,
.gnb select {
    display: inline-block;
    padding: 10px 8px;
}

.gnb li a,
.gnb select {
    font-size: 12px;
    font-family: NanumBarunGothicLightSubset;
}

/* 돋보기,전체일정,사이트맵 li제외 */
.gnb li:nth-child(1),
.gnb li:nth-child(2),
.gnb select {
    background-color: #fff;
    border-radius: 35px;
    margin-right: 10px;
    width: 60px;
    box-sizing: content-box;
}

.gnb li:nth-child(1) {
    background-color: #0E8844;
}

.gnb li:nth-child(2) {
    background-color: #646277;
}

.gnb select {
    background: url(../image/hearder-select-bg.gif) no-repeat right 10px #41414c;
    width: 70px;
    font-size: 15px;
}


/* 좌측 전역메뉴 */
.leftMenu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* 우측 하단 사이드 버튼 공통 */
.btn {
    position: fixed;
    right: 15px;
    z-index: 10;
}

.goTop {
    bottom: 15px;
}

.chatBot {
    bottom: 90px;
}

/* 하단 추가정보 서브메뉴 박스  */
.addInfo_box {
    width: 100vw;
    padding: 20px;
    position: absolute;
    bottom: 80px;
    background-color: #1d2335;
    max-width: 1250px;
}

.bottom_subMenu {
    float: left;
}

.bottom_sns {
    float: right;
}
