@charset "utf-8";

/* A. 상단영역  */
#headerWrap {
    width: 100vw;
    height: 110px;
    top: 0;
    position: fixed;
    background-color: #41414c;
    z-index: 99999;
}

.headerBar {
    padding: 0 70px;
    height: 100%;
}

.topHeader {
    width: 100%;
    padding: 25px 0;
    position: relative;
    height: calc(100% - 50px);
}

/* 1. 로고 */
.topLogo {
    text-align: center;
}

.topLogo img {
    width: 150px;
}

/* 2. 우측 GNB메뉴 */
.gnb {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.gnb li,
.gnb select {
    display: inline-block;
    padding: 10px 8px;
}

.gnb li a,
.gnb select {
    font-size: 15px;
    font-family: NanumBarunGothicLightSubset;
}

/* 돋보기,전체일정,사이트맵 li제외 */
.gnb li:nth-child(1),
.gnb li:nth-child(2),
.gnb select {
    background-color: #fff;
    border-radius: 35px;
    margin-right: 10px;
    width: 75px;
    box-sizing: content-box;
}

.gnb li:nth-child(1) {
    background-color: #0E8844;
}

.gnb li:nth-child(2) {
    background-color: #646277;
}

.gnb select {
    background: url(../image/hearder-select-bg.gif) no-repeat right 10px #41414c;
    width: 70px;
    font-size: 13px;
}


/* 3. 좌측 전역메뉴 */
.leftMenu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* C. 하단영역 */
/* 1. 우측 하단 사이드 버튼 공통 */
.btn {
    position: fixed;
    right: 15px;
    z-index: 999;
    width: 60px;
    height: 60px;
}

.goTop {
    bottom: 15px;
    background: url(../image/top_btn.png) no-repeat;
}

.chatBot {
    bottom: 95px;
    background: url(../image/ic_chat.png) no-repeat;
    background-size: contain;
}


/* 2. 하단 추가정보1 서브메뉴 박스  */
.AddInfo_box {
    position: fixed;
    width: 100%;
    bottom: 12%;
    background-color: #1d2335;
    z-index: 999;
}

.AddInfo_box a:nth-child(1)~a {
    padding-left: 20px;
}


.Bottom_SubMenu {
    padding-left: 100px;
}

.Bottom_Sns {
    padding-right: 100px;
}

.Bottom_Info_Wrap1 {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 3. 하단 추가정보2 서브메뉴 박스  */
#Bottom_Info_Bx{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000;
}

.Bottom_Info_Wrap2 {
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Bottom_Info_Wrap1 a,
.Bottom_Info_Wrap2 p {
    color: #747780;
    font-size: 13px;
}

.Bottom_Info_Wrap2 strong {
    color: #b8b8b8;
    padding-right: 5px;
}

/* 3. 하단로고  */
.Bottom_Logo {
    width: 158px;
    height: 58px;
}

.Bottom_Logo img {
    max-width: 100%;
    max-height: 100%;
}

