@charset "utf-8";

html,body,div,ul,li,nav,p {
    margin: 0;
    padding: 0;
}

html,body {
    overflow-x: hidden;
    width: 100%;
    height: 100h;
}

body {
    background-color: #41414c;
}

ul,ol {
    list-style: none;
    /* ul밑 li에 display: inline-block으로 생긴 사이 여백 초기화  */
    font-size: 0;
}

a,select {
    text-decoration: none;
    color: #fff;
    outline: none;
}

img {
    vertical-align: bottom;
}