@charset "utf-8";

html,body,div,ul,li,nav {
    margin: 0;
    padding: 0;
}

html,body {
    overflow-x: hidden;
}

ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    border: none;
    vertical-align: bottom;
}