@charset "utf-8";

@import url(./reset.css);
@import url(./calendar.css);

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

:root {
    --space-1: 32px;
    --dark-main-color: #312d68;
    --gray-color: #A2A2A2;
    --light-gray-color: #f2f2f2;
    --main-color: #6d5ef2;
}

a {
    text-decoration: none;
    color: #00b0ff;
    font-weight: bold;
    font-size: 18px;
}

h2, p {
    color: #2d3668;
    font-size: 20px;
}

#container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

.cont {
    min-width: 900px;
    min-height: 700px;
    display: flex;
    justify-content: space-around;
    margin-top: var(--space-1);
    margin-bottom: var(--space-1);
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 10px 10px 30px var(--gray-color);
}

 .left_main {
    position: relative;
    width: 400px;
    margin: 20px 10px 20px;
} 

.right_main {
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 20px 10px 20px;
}

.bookmark {
    display: flex;
    height: 46px;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    background-color: #eeeeee;
}

.colorPicker {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.colorPicker p {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

.colorPicker p:nth-child(1) {
    background-color: #81d4fa;
}

.colorPicker p:nth-child(2) {
    background-color: #29b6f6;
}

.colorPicker p:nth-child(3) {
    background-color: #039be5;
}

.today {
    display: flex;
    justify-content: space-around;;
    align-items: center;
    border-radius: 20px;
    background-color: #eeeeee;
}

.clock,
.calendar {
    width: 150px;
    height: 350px;
    bottom: 0;
}

.tite {
    line-height: 20px;
}

h2,title,p {
    line-height: 62px;
    font-family: 'TheJamsil5Bold';
    
}

.Todo_wrap {
    height: 400px;
    background-color: #eeeeee;
    border-radius: 20px;
}

.quote_bg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 20px;
    background-color: #eeeeee;
}

.quoteText {
    position: absolute;
    z-index: 99;
    width: 370px;
    height: 80%;
}

.quoteText p:first-child {
    font-style: italic;
    line-height: 28px;
    font-size: 16px;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.quoteText p:last-child {
    float: right;
    font-size: 12px;
    margin-top: -20px;
    font-weight: 400;
}

.Todo_List{
    overflow: auto;
    height: 87%;
}

.todoWrite {
    display: flex;
    bottom: 50%;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    background-color: #00b0ff;
    padding: 7px;
}

.clock {
    background: url(../image/clock.png) center/100%;
    background-repeat: no-repeat;

}

.clock_wrap {
    width: 150px;
    display: flex;
    height: 180px;
    margin-bottom: -154px;
    flex-direction: column;
    align-items: center;
}

.digital {
    font-size: 25px;
    color: #00b0ff;
}

.todoWrite button {
    border: none;
    right: 10px;
    background-color: transparent;
    font-size: 30px;
    color: #fff;
}

/* 수정 필요! */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 110px;
    background: #eee;
    font-size: 18px;
    height: 30px;
    transition: 0.3s;
    font-family: 'KyoboHandwriting2021sjy';
  }
  
  ul li:hover {
    background: #ddd;
  }
  
  .close {
    position: absolute;
    right: 10px;
    top: 0;
    align-items: center;
    text-align: center;
    margin: 8px 60px;
    padding: 4px 8px;
    border: none;
    background: rgba(255, 255, 255, 0);
  }
  .close:hover {
    background: linear-gradient(135deg, #02aab0, #00cdac);
    border-radius: 100%;
    color: white;
  }
  
  ul li.checked {
    background: #ddd;
    color: #272341;
    text-decoration: line-through;
  }
  
  ul li.checked::before {
    content: "";
    position: absolute;
    border-color: #272341;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 13px;
    left: 80px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  