@charset "utf-8";

/* 카노 PJ 공통 CSS - common.css */

/************************* 1. 상단영역 *************************/
.top 

/************************* 2. 메인영역 *************************/
.cont {
    min-height: 600px;
}

/************************* 3. 하단영역 *************************/
.info {
    min-height: 700px;
}

#scroll {
    animation: upDown 1.5s ease-in-out infinite;
    z-index: 999;
    position: fixed;
    width: 15px;
    height: 137px;
    left: 150px;
    bottom: calc(100% - 50%);
    top: calc(100% - 50%);
    background-color: red;
}

@keyframes upDown {
    0% {
        opacity: 0.5;
        transform: translateY(-5px);
    }

    50% {
        opacity: 1;
        transform: translateY(5px);
    }

    100% {
        opacity: 0.5;
        transform: translateY(-5px);
    }
}