@charset "utf-8";

/* 초기화 */
html,body,h2,ul,li,dl,dt,dd,a,section,footer,article,button,div,strong,p {
    margin: 0;
    padding: 0;
    list-style: none;
    user-select: none;
}
body{
    overflow-x: hidden;
}

/* a 공통요소 */
a {
    color: #000;
    text-decoration: none;
}