* {
    margin: 0px;
    padding: 0px;
}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#palletBox {
    width: 310px;
}

.pallett > div {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.active{
    outline: 1px solid black;
}

.colorBox {
    float: left;
    margin: 1px 1px 0px 0px;
    cursor: pointer;
}