
html,body {
    margin: 0;
    padding: 0;
}

body {
    overflow-y: hidden;
}

#container {
    position: absolute;
    width: 100%;
    height: 100vh;
    /* background-color: #ffe5b4; */
    z-index: -2;
}

.garlendar {
    position: absolute;
    transform: translateX(-50%);
    width: 500px;
    height: 300px;
    left: 50%;
}

.garlendar > img {
    width: 100%;
    height: 100%;
}

.cake1 {
    position: absolute;
    width: 200px;
    height: 150px;
    border-radius: 50%/25%;
    background-color: #fff;
    border: 2px solid #000;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.cake1::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -1px;
    width: 200px;
    height: 70px;
    background-color: #fff;
    border-radius: 100px / 37.5px;
    border: 2px solid #000;
}

.cake2 {
    position: absolute;
    width: 230px;
    height: 170px;
    border-radius: 50%/23%;
    background-color: #fff;
    border: 2px solid #000;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.cake2::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -1px;
    width: 230px;
    height: 67px;
    background-color: #fff;
    border-radius: 100px / 37.5px;
    border: 2px solid #000;
}

.table {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 42%;
    left: 50%;
    transform: translate(-50%,0);
    z-index: -2;
}

.table > img {
    width: 100%;
    height: 100%;
}

.bowl {
    position: absolute;
    width: 300px;
    height: 100px;
    top: 59%;
    left: 50%;
    transform: translate(-50%,0);
    z-index: -1;
}

.bowl > img {
    width: 100%;
    height: 100%;
}

.shelf {
    position: absolute;
    right: 8%;
    top: 15%;
}