@charset "utf-8";

.colorPicker {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.colorPicker p {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

.colorPicker p:nth-child(1) {
    background-color: #81d4fa;
}

.colorPicker p:nth-child(2) {
    background-color: #29b6f6;
}

.colorPicker p:nth-child(3) {
    background-color: #039be5;
}
