@charset "utf-8";

@import url(./reset.css);

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

:root {
    --space-1: 32px;
    --dark-main-color: #312d68;
    --gray-color: #A2A2A2;
    --light-gray-color: #f2f2f2;
    --main-color: #6d5ef2;
}

a {
    text-decoration: none;
    color: #00b0ff;
    font-weight: bold;
    font-size: 18px;
}

h2, p {
    color: #2d3668;
    font-size: 20px;
}

#container {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

.cont {
    min-width: 900px;
    display: flex;
    justify-content: space-around;
    margin: var(--space-1) 0;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 10px 10px 30px var(--gray-color);
}

 .left_main {
    position: relative;
    width: 400px;
    margin: 20px 10px 20px;
} 

.right_main {
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 20px 10px 20px;
}

.bookmark {
    display: flex;
    height: 46px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #eeeeee;
}

.colorPicker {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.colorPicker p {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

.colorPicker p:nth-child(1) {
    background-color: #81d4fa;
}

.colorPicker p:nth-child(2) {
    background-color: #29b6f6;
}

.colorPicker p:nth-child(3) {
    background-color: #039be5;
}

.todayBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 320px;
    border-radius: 10px;
    background-color: #eeeeee;
}

.left_wrap {
    width: 40%;
    height: 100%;
    position: relative;
    margin-left: 10px;
}

.right_wrap {
    width: 60%;
    height: 320px;
    position: relative;
    padding: 10px;
}

table > tbody > tr th, 
table > tbody > tr td {
    padding: 5px;
}

th {
    font-weight: normal;
}

.calendar_header {
    position: relative;
    text-align: center;
    color: #00b0ff;
    font-weight: 600;
    margin-bottom: 10px;
}

.prev_btn {
    position: absolute;
    left: 0;
}

.next_btn {
    position: absolute;
    right: 0;
}

.clock,
.calendar {
    width: 150px;
    height: 350px;
    bottom: 0;
}

.tit {
    line-height: 60px;
}

h2, p {
    font-family: 'TheJamsil5Bold';
}

.Todo_wrap {
    height: 400px;
    background-color: #eeeeee;
    border-radius: 10px;
}

.quote_bg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 10px;
}

.img_cover, .img_cover > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.img_cover {
    position: absolute;
    filter: brightness(70%);
}

.quoteText {
    position: absolute;
    z-index: 9999;
    width: 370px;
    height: 80%;
}

.quoteText > p {
    color: #fff;
}

.quoteText p:first-child {
    font-style: italic;
    line-height: 23px;
    font-size: 14px;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.quoteText p:last-child {
    float: right;
    font-size: 10px;
    margin-top: -2px;
    font-weight: 400;
}

.Todo_List{
    overflow: auto;
    height: 87%;
}

.todoWrite {
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    background-color: #00b0ff;
    padding: 7px;
}

.clock .hour,
.clock .min,
.clock .sec {
    position: absolute;
}

#hr, #mn, #sc {
    display: flex;
    justify-content: center;
} 

.clock .hour > #hr {
    width: 50px;
    height: 60px;
}

.clock .min > #mn {
    width: 90px;
    height: 90px;
}

.clock .sec > #sc {
    width: 90px;
    height: 90px;
}

#hr::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 30px;
    background-color: #29b6f6;
    border-radius: 6px;
}

#mn::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 45px;
    background-color: #039be5;
    border-radius: 6px;
}

#sc::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 60px;
    background-color: #abe3ff;
    border-radius: 6px;
}

.clock {
    background: url(../image/clock.png) center/100%;
    background-repeat: no-repeat;
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock::before {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #81d4fa;
    border-radius: 50%;
}

.clock_wrap {
    position: absolute;
    bottom: 10px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.digital {
    font-size: 25px;
    color: #00b0ff;
}

.todoWrite button {
    border: none;
    right: 10px;
    background-color: transparent;
    font-size: 30px;
    color: #fff;
}

/* 수정 필요! */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 110px;
    background: #eee;
    font-size: 18px;
    height: 30px;
    transition: 0.3s;
    font-family: 'KyoboHandwriting2021sjy';
}
  
ul li:hover {
    background: #ddd;
}

.close {
    position: absolute;
    right: 10px;
    top: 0;
    align-items: center;
    text-align: center;
    margin: 8px 60px;
    padding: 4px 8px;
    border: none;
    background: rgba(255, 255, 255, 0);
}
.close:hover {
    background: linear-gradient(135deg, #02aab0, #00cdac);
    border-radius: 100%;
    color: white;
}

ul li.checked {
    background: #ddd;
    color: #272341;
    text-decoration: line-through;
}

ul li.checked::before {
    content: "";
    position: absolute;
    border-color: #272341;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 13px;
    left: 80px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

#dark_mode_btn {
    position: fixed;
    right: 78px;
    z-index: 100;
    width: 136px;
    height: 50px;
    cursor: pointer;
    background-image: url(../image/sp_main.png);
    background-size: 442px 428px;
    background-position: -714px -111px;
    background-color: transparent;
    border: none;
    bottom: 30px;
    right: 30px;
}

#dark_mode_btn:hover {
    background-position: -714px -56px;
}