@charset "utf-8";

@import url(./reset.css);

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

:root {
    --space-1: 32px;
    --bg-color: #fff;
    --gray-color: #eeeeee;
    --light-gray-color: #f2f2f2;
    --main-color: #00b0ff;
    --main-light-color: #81d4fa;
}

a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: bold;
    font-size: 18px;
}

h2, p {
    color: #2d3668;
    font-size: 20px;
}

#container {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color);
}

.cont {
    width: 900px;
    height: fit-content;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-color);
    border-radius: 20px;
    box-shadow: 10px 10px 30px #A2A2A2;
}

 .left_main {
    position: relative;
    width: 400px;
    margin: 20px 10px 20px;
} 

.right_main {
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 20px 10px 20px;
}

.bookmark {
    display: flex;
    height: 46px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    background-color: var(--gray-color);
}

.left_wrap {
    width: 40%;
    height: 100%;
    position: relative;
    margin-left: 10px;
}

.right_wrap {
    width: 60%;
    height: 100%;
    position: relative;
    padding: 20px 10px;
}

.tit {
    line-height: 60px;
}

h2, p {
    font-family: 'TheJamsil5Bold';
}
