@charset "utf-8";

html,body,cont,p,a,h1,h2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    overflow-x: hidden;
    width: 100%;
    height: 100h;
    user-select: none;
}

ul,ol {
    list-style: none;
}

img {
    vertical-align: bottom;
}